* {
    padding: 3px;
    margin: 3px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

a {
    color: #5f0099;
}

a:hover {
    color: #5f0099;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4,
h5 {
    font-weight: 600;
}

h6 {
    font-weight: 500;
}